html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #a9a9a9;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
  }
  
  .header h1{
    color: (#FFFC91);
}

.header{
    width: 100%;
    background: (#5713BD);
    text-align: left;
    margin-bottom: 15px;
}



.header img{
    justify-content: left;
}
/*


.wrapper{

}


.container{

}
*/
.intro{
    width: 960px;
    display: flex;
}

.main{
    width: 960px;
    display: flex;
}

.jobtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 2px;
    letter-spacing: 0.02rem;
}
/*
.jobdesc{

}

.rep{

}
*/