html{
    padding: 0;
    margin: 0;
    background-color: lightyellow;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0;
    margin:0;
    max-width: 1000px;
    background-color: lightyellow;
}
div{
    padding: 10px 0 1px 0;
}

h1{
    font-size: 7rem;
    text-align: left center;
    flex: 5;
    color: lightyellow;
}

div.header{
    background-color: indigo;
    width: 100%;
    margin: 0;
    position: relative;
    text-align: left;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    border-left: 6rem solid indigo;
    border-right: 6rem solid indigo;
}
.header img{
    display: block;
    height: 100px;
    flex-flow: row wrap;
   /* padding-top: 20.15px;*/
}
/*

div.wrapper{}
*/ 

div.container{
    width: 960px;
    display: flex;
    
}

div.intro{
    background-color:white;
    width: 700px;
    margin: 0 auto;
}

.intro img {
    border: 1px solid plum;
    width: 400px;
    margin: 0 auto;
}

div.main{
    background-color: white;
    width: 700px;
    margin: 0 auto;
}

h2{
    font-size: 3rem;
}
div.jobtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 2px;
    letter-spacing: 0.02rem;
}

div.jobdesc{
    font-size: 1rem;
}
.rep li{
    font-size: 1rem;
}
