html{
    padding: 0;
    margin: 0;
    background-color: lightyellow;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0;
    margin:0;
}
div{
    padding: 10px 0 1px 0;
}

h1{
    color: lightyellow;
}

div.header{
    background-color: indigo;
    width: 100%;
    margin: 0;
    text-align: left;
    margin-bottom: 15px;
}
/*

div.wrapper{}
div.container{}

*/ 
div.intro{
    background-color:lightyellow;
}

div.main{
    background-color: lightyellow;
}
div.jobtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 2px;
    letter-spacing: 0.02rem;
}
/*
div.jobdesc{}
.rep{}
*/