/* setup */
body {
    padding: 0;
}


/* typography */



/* Header */

.header{
    background-color: rbg(#5713BD);
    color: rbg(#FFFC91);
    width: 100%;
    text-align: left;
    margin-bottom: 15px;

}

/* Content*/

.intro{
    flex: 4;
}
.intro img{
    flex: 4;
}

.main{
    flex: 2;
}
.intro, .main{
    width: 960px;
    display: flex;
}




