
.header{
    width: 100%;
    background-color: rbg(#5713BD);
    text-align: left;
    margin-bottom: 15px;
}

.header h1{
    color: rbg(#FFFC91);
}

.header img{
    justify-content: left;
}


/*

.wrapper{

}


.container{

}
*/
.intro{
    width: 960px;
    display: flex;
}

.main{
    width: 960px;
    display: flex;
}

.jobtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 2px;
    letter-spacing: 0.02rem;
}
/*
.jobdesc{

}

.rep{

}
*/